In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
import pickle
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential # to see the sequence like ip --> hl1 --> hl2--> hl3 -->o/p #to build layer by layer architecture
from keras.layers import Dense # to decide the depth of layers
import numpy as np

/Users/saro/Desktop/dvdrentaldeeplearning/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
# Load the dataset
file_path = 'dvd rental final csv.csv'
df = pd.read_csv(file_path)

# Inspect the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14596 entries, 0 to 14595
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   inventory_id      14596 non-null  int64
 1   film_id           14596 non-null  int64
 2   title             14596 non-null  object
 3   rental_duration   14596 non-null  int64
 4   rental_rate       14596 non-null  float64
 5   length            14596 non-null  int64
 6   replacement_cost  14596 non-null  float64
 7   rating            14596 non-null  object
 8   category          14596 non-null  object
 9   language          14596 non-null  object
 10  store_id          14596 non-null  int64
 11  rental_id         14596 non-null  int64
 12  rental_date       14596 non-null  object
 13  customer_id       14596 non-null  int64
 14  return_date       14413 non-null  object
 15  amount            14596 non-null  float64
 16  active            14596 non-null  int64
dtypes: float64(3), int64(8), object(6)
memory usage: 1.9+ MB
None

In [3]:
df.dropna(inplace=True)

In [4]:
# Convert the 'date' column to datetime
df['rental_date'] = pd.to_datetime(df['rental_date'])

# Extract year, month, day, hour, minute, and second
df['rental_year'] = df['rental_date'].dt.year
df['rental_month'] = df['rental_date'].dt.month
df['rental_day'] = df['rental_date'].dt.day
df['rental_hour'] = df['rental_date'].dt.hour
df['rental_minute'] = df['rental_date'].dt.minute

df.drop('rental_date', axis=1, inplace=True)

df.head()

,inventory_id,film_id,title,rental_duration,rental_rate,length,replacement_cost,rating,category,language,...,rental_id,customer_id,return_date,amount,active,rental_year,rental_month,rental_day,rental_hour,rental_minute
0,3419,749,Rules Human,6,4.99,153,19.99,R,Horror,English,...,1520,341,2005-06-24 23:46:20,7.99,1,2005,6,15,23,57
1,2512,552,Majestic Floats,5,0.99,130,15.99,PG,Documentary,English,...,1778,341,2005-06-22 16:08:48,1.99,1,2005,6,16,18,54
2,2507,551,Maiden Home,3,4.99,138,9.99,PG,New,English,...,1849,341,2005-06-23 18:37:19,7.99,1,2005,6,17,0,13
3,2047,445,Hyde Doctor,5,2.99,100,11.99,G,Classics,English,...,2829,341,2005-06-24 18:10:30,2.99,1,2005,6,19,21,11
4,2569,563,Massacre Usual,6,4.99,165,16.99,R,Games,English,...,3130,341,2005-06-29 18:05:22,7.99,1,2005,6,20,19,3

In [5]:
df['return_date'] = pd.to_datetime(df['return_date'])

# Extract year, month, day, hour, minute, and second
df['return_year'] = df['return_date'].dt.year
df['return_month'] = df['return_date'].dt.month
df['return_day'] = df['return_date'].dt.day
df['return_hour'] = df['return_date'].dt.hour
df['return_minute'] = df['return_date'].dt.minute

df.drop('return_date', axis=1, inplace=True)

In [6]:
df.isnull().sum()

inventory_id        0
film_id             0
title               0
rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
category            0
language            0
store_id            0
rental_id           0
customer_id         0
amount              0
active              0
rental_year         0
rental_month        0
rental_day          0
rental_hour         0
rental_minute       0
return_year         0
return_month        0
return_day          0
return_hour         0
return_minute       0
dtype: int64

In [7]:
df.drop('language',axis=1, inplace=True)
df.drop('rental_year',axis=1, inplace=True)
df.drop('return_year',axis=1, inplace=True)
df.drop('rental_hour',axis=1, inplace=True)
df.drop('rental_minute',axis=1, inplace=True)
df.drop('return_hour',axis=1, inplace=True)
df.drop('return_minute',axis=1, inplace=True)
df.drop('title',axis=1,inplace=True)
df.drop(['inventory_id','film_id','store_id','rental_id','customer_id'], axis=1, inplace=True)

In [8]:
df.head()

,rental_duration,rental_rate,length,replacement_cost,rating,category,amount,active,rental_month,rental_day,return_month,return_day
0,6,4.99,153,19.99,R,Horror,7.99,1,6,15,6,24
1,5,0.99,130,15.99,PG,Documentary,1.99,1,6,16,6,22
2,3,4.99,138,9.99,PG,New,7.99,1,6,17,6,23
3,5,2.99,100,11.99,G,Classics,2.99,1,6,19,6,24
4,6,4.99,165,16.99,R,Games,7.99,1,6,20,6,29

In [9]:
categorical_column_to_iterate = ['rating', 'category']
continuous_column_to_iterate = ['amount', 'rental_rate', 'replacement_cost']

In [10]:
df_encoded = pd.get_dummies(df,columns=['category','rating'])

In [11]:
df_encoded.columns

Index(['rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'amount', 'active', 'rental_month', 'rental_day', 'return_month',
       'return_day', 'category_Action', 'category_Animation',
       'category_Children', 'category_Classics', 'category_Comedy',
       'category_Documentary', 'category_Drama', 'category_Family',
       'category_Foreign', 'category_Games', 'category_Horror',
       'category_Music', 'category_New', 'category_Sci-Fi', 'category_Sports',
       'category_Travel', 'rating_G', 'rating_NC-17', 'rating_PG',
       'rating_PG-13', 'rating_R'],
      dtype='object')

In [12]:
df_encoded.shape

(14413, 31)

In [13]:
# #encoding
# encoders = {}
# for col in categorical_column_to_iterate:
#     encoder = OneHotEncoder(sparse_output=False)
#     df[col] = encoder.fit_transform(df[[col]])
#     encoders[col] = encoder

# with open('onehotencoder.pkl', 'wb') as f:
#     pickle.dump(encoders, f)

In [14]:
df_encoded.isnull().sum()

rental_duration         0
rental_rate             0
length                  0
replacement_cost        0
amount                  0
active                  0
rental_month            0
rental_day              0
return_month            0
return_day              0
category_Action         0
category_Animation      0
category_Children       0
category_Classics       0
category_Comedy         0
category_Documentary    0
category_Drama          0
category_Family         0
category_Foreign        0
category_Games          0
category_Horror         0
category_Music          0
category_New            0
category_Sci-Fi         0
category_Sports         0
category_Travel         0
rating_G                0
rating_NC-17            0
rating_PG               0
rating_PG-13            0
rating_R                0
dtype: int64

In [15]:
#encoding
encoders_cont = {}
for col in continuous_column_to_iterate:
    encoder = LabelEncoder()
    df_encoded[col] = encoder.fit_transform(df_encoded[col])
    encoders_cont[col] = encoder

with open('label_encoders.pkl', 'wb') as f:
    pickle.dump(encoders_cont, f)

In [16]:
encoders_cont

{'amount': LabelEncoder(),
 'rental_rate': LabelEncoder(),
 'replacement_cost': LabelEncoder()}

In [17]:
df_encoded['replacement_cost']

0        10
1         6
2         0
3         2
4         7
         ..
14409     2
14410    20
14411     1
14412     1
14413    12
Name: replacement_cost, Length: 14413, dtype: int64

In [18]:
df_encoded.head()

,rental_duration,rental_rate,length,replacement_cost,amount,active,rental_month,rental_day,return_month,return_day,...,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,rating_G,rating_NC-17,rating_PG,rating_PG-13,rating_R
0,6,2,153,10,7,1,6,15,6,24,...,False,False,False,False,False,False,False,False,False,True
1,5,0,130,6,1,1,6,16,6,22,...,False,False,False,False,False,False,False,True,False,False
2,3,2,138,0,7,1,6,17,6,23,...,False,True,False,False,False,False,False,True,False,False
3,5,1,100,2,2,1,6,19,6,24,...,False,False,False,False,False,True,False,False,False,False
4,6,2,165,7,7,1,6,20,6,29,...,False,False,False,False,False,False,False,False,False,True

In [19]:
# Separate features and target
X = df_encoded.drop('amount', axis=1)  # Replace 'revenue_column' with the actual column name for revenue
y = df_encoded['amount']

In [20]:
X.shape, y.shape

((14413, 30), (14413,))

In [21]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
X_train.shape, y_train.shape

((11530, 30), (11530,))

In [23]:
y_train.value_counts()

amount
4     2696
2     2565
0     2108
5      938
6      834
3      804
7      519
1      466
8      338
9      177
10      79
11       6
Name: count, dtype: int64

In [ ]:
# Scale the features
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [24]:
# Build the regression model
model = Sequential()

In [26]:
print(type(X_train))  # Should be <class 'numpy.ndarray'>
print(type(y_train))  # Should be <class 'numpy.ndarray'>
print((X_train.shape))  # Should be <class 'numpy.ndarray'>
print((y_train.shape))  # Should be <class 'numpy.ndarray'>

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(11530, 30)
(11530,)

In [27]:
# Ensure data is in the correct format
X_train = np.array(X_train, dtype=np.float32)
y_train = np.array(y_train, dtype=np.float32)
X_test = np.array(X_test, dtype=np.float32)
y_test = np.array(y_test, dtype=np.float32)

In [28]:
X_train.shape

(11530, 30)

In [29]:
model = Sequential()
# Input layer (match input shape to your data)
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))

# Hidden layers
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))

# Output layer for regression (single node, no activation function)
model.add(Dense(1))

# Compile the model for regression with 'mse' loss function
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
test_loss = model.evaluate(X_test, y_test)
print(f'Test Loss (MSE): {test_loss}')

Epoch 1/50

/Users/saro/Desktop/dvdrentaldeeplearning/.venv/lib/python3.9/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 576us/step - loss: 5.9058 - val_loss: 1.6686
Epoch 2/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - loss: 1.2708 - val_loss: 0.6680
Epoch 3/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - loss: 0.6690 - val_loss: 0.5732
Epoch 4/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - loss: 0.5049 - val_loss: 0.4826
Epoch 5/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 429us/step - loss: 0.4663 - val_loss: 0.3309
Epoch 6/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - loss: 0.4018 - val_loss: 0.3997
Epoch 7/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - loss: 0.3160 - val_loss: 0.5626
Epoch 8/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - loss: 0.3387 - val_loss: 0.2692
Epoch 9/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - loss: 0.2765 - val_loss: 0.2932
Epoch 10/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - loss: 0.2632 - val_loss: 0.2647
Epoch 11/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - loss: 0.2043 - val_loss: 0.1760
Epoch 12/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - loss: 0.1705 - val_loss: 0.2071
Epoch 13/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - loss: 0.1634 - val_loss: 0.2177
Epoch 14/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 0.1324 - val_loss: 0.3290
Epoch 15/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - loss: 0.1307 - val_loss: 0.2480
Epoch 16/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - loss: 0.1176 - val_loss: 0.0688
Epoch 17/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - loss: 0.0804 - val_loss: 0.0659
Epoch 18/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 0.0877 - val_loss: 0.0564
Epoch 19/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - loss: 0.1234 - val_loss: 0.1123
Epoch 20/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 0.0770 - val_loss: 0.1158
Epoch 21/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 0.0673 - val_loss: 0.0487
Epoch 22/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 0.0581 - val_loss: 0.0349
Epoch 23/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - loss: 0.0439 - val_loss: 0.0309
Epoch 24/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - loss: 0.0565 - val_loss: 0.4000
Epoch 25/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - loss: 0.0907 - val_loss: 0.0460
Epoch 26/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - loss: 0.0256 - val_loss: 0.0433
Epoch 27/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - loss: 0.0344 - val_loss: 0.0425
Epoch 28/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - loss: 0.0331 - val_loss: 0.0203
Epoch 29/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - loss: 0.0376 - val_loss: 0.0500
Epoch 30/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 0.0188 - val_loss: 0.0201
Epoch 31/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - loss: 0.0257 - val_loss: 0.0605
Epoch 32/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - loss: 0.0215 - val_loss: 0.0402
Epoch 33/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - loss: 0.0275 - val_loss: 0.0195
Epoch 34/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - loss: 0.0358 - val_loss: 0.0310
Epoch 35/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - loss: 0.0309 - val_loss: 0.0364
Epoch 36/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - loss: 0.0143 - val_loss: 0.0865
Epoch 37/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - loss: 0.0208 - val_loss: 0.0106
Epoch 38/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - loss: 0.0214 - val_loss: 0.4382
Epoch 39/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 0.0772 - val_loss: 0.0060
Epoch 40/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - loss: 0.0271 - val_loss: 0.0289
Epoch 41/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - loss: 0.0237 - val_loss: 0.0064
Epoch 42/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - loss: 0.0346 - val_loss: 0.0063
Epoch 43/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - loss: 0.0193 - val_loss: 0.0038
Epoch 44/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - loss: 0.0119 - val_loss: 0.1613
Epoch 45/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - loss: 0.0426 - val_loss: 0.0096
Epoch 46/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - loss: 0.0137 - val_loss: 0.0049
Epoch 47/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - loss: 0.0080 - val_loss: 0.0070
Epoch 48/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - loss: 0.0187 - val_loss: 0.0047
Epoch 49/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 414us/step - loss: 0.0101 - val_loss: 0.0484
Epoch 50/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 0.0295 - val_loss: 0.0391
91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 252us/step - loss: 0.0387
Test Loss (MSE): 0.03905775770545006

In [32]:
model.predict(X_test)

91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step

array([[5.0608835],
       [2.0078073],
       [1.0149316],
       ...,
       [5.9669394],
       [4.0250525],
       [3.0086625]], dtype=float32)

In [33]:
model.evaluate (x = X_test, y = y_test)

91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - loss: 0.0387

0.03905775770545006